@font-face {
  font-family: SourceHan-N;
  src: url(./fonts/SourceHanSansSC-Normal.ttf); }
@font-face {
  font-family: SourceHan-N;
  unicode-range: U+0-2ff;
  src: url(./fonts/Roboto-Light.ttf); }
@-webkit-keyframes wave {
  0% {
    height: 0px;
    width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
    opacity: 1; }
  100% {
    height: 1000px;
    width: 1000px;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 500px;
    opacity: 0; } }
@keyframes wave {
  0% {
    height: 0px;
    width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
    opacity: 1; }
  100% {
    height: 1000px;
    width: 1000px;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 500px;
    opacity: 0; } }
.ani-wave {
  -webkit-animation: wave 1.2s;
          animation: wave 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

* {
  padding: 0px;
  margin: 0px; }

#top {
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: #3F51B5;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.24);
  z-index: 9; }
  #top #menu {
    height: 24px;
    width: 24px;
    margin-left: 16px;
    margin-top: 16px;
    float: left; }
  #top #title {
    font-family: SourceHan-N;
    font-size: 18px;
    margin-left: 16px;
    margin-top: 18px;
    color: #ffffff;
    float: left; }
  #top #search {
    height: 24px;
    width: 24px;
    margin-right: 16px;
    margin-top: 16px;
    float: right; }

#aside {
  position: fixed;
  height: 100%;
  width: 260px;
  margin-left: -280px;
  background-color: #ffffff;
  z-index: 11;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.19), 0px 6px 3px rgba(0, 0, 0, 0.23); }
  #aside .config {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #aside .config .label-text {
      font-family: SourceHan-N;
      font-size: 16px;
      float: left;
      padding: 16px 86px 16px 16px; }
  #aside .welcome {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #aside .welcome span {
      color: rgba(0, 0, 0, 0.68);
      font-family: SourceHan-N;
      font-size: 16px;
      padding: 16px;
      position: absolute; }

#article {
  position: absolute;
  width: 100%;
  padding-top: 56px;
  z-index: 0; }
  #article .down {
    position: absolute;
    left: 50%;
    margin-left: -44px;
    margin-top: -20px;
    opacity: 0.88; }
    #article .down img {
      float: left;
      height: 24px;
      width: 24px; }
    #article .down span {
      float: left;
      font-family: SourceHan-N;
      font-size: 16px; }
  #article .file {
    position: relative;
    height: 40px;
    opacity: 0;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 0;
    overflow: hidden; }
    #article .file .life-type-folder {
      height: 40px;
      width: 40px;
      margin-right: 16px;
      float: left;
      background: url("../img/folder.png");
      background-size: 100% 100%; }
    #article .file .life-type-text {
      height: 40px;
      width: 40px;
      margin-right: 16px;
      float: left;
      background: url("../img/text.png");
      background-size: 100% 100%; }
    #article .file .life-type-image {
      height: 40px;
      width: 40px;
      margin-right: 16px;
      float: left;
      background: url("../img/image.png");
      background-size: 100% 100%; }
    #article .file .life-type-audio {
      height: 40px;
      width: 40px;
      margin-right: 16px;
      float: left;
      background: url("../img/audio.png");
      background-size: 100% 100%; }
    #article .file .life-type-video {
      height: 40px;
      width: 40px;
      margin-right: 16px;
      float: left;
      background: url("../img/video.png");
      background-size: 100% 100%; }
    #article .file .life-type-other {
      height: 40px;
      width: 40px;
      margin-right: 16px;
      float: left;
      background: url("../img/other.png");
      background-size: 100% 100%; }
    #article .file .life-type-unknow {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      margin-right: 16px;
      float: left; }
    #article .file .life-text {
      display: block;
      float: left;
      margin-top: 2px;
      font-family: SourceHan-N; }
    #article .file .wave {
      position: absolute;
      background-color: #4FC3F7;
      z-index: -10; }

#article-animate {
  position: absolute;
  width: 100%;
  padding-top: 56px;
  z-index: -10; }
  #article-animate .block {
    position: relative;
    height: 41px;
    padding: 16px; }

#float-button {
  height: 56px;
  width: 56px;
  border-radius: 28px;
  position: fixed;
  right: 16px;
  bottom: 56px;
  background-color: #E91E63;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.24);
  opacity: 1;
  display: none; }
  #float-button div {
    color: #ffffff;
    font-size: 24px;
    font-family: SourceHan-N;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6.7px;
    margin-top: -14px; }

.shade {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10; }

.confirm {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 260px;
  margin-left: -130px;
  background-color: #ffffff;
  z-index: 23;
  opacity: 1;
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.24); }
  .confirm div {
    margin: 24px;
    font-family: SourceHan-N;
    color: rgba(0, 0, 0, 0.82); }
  .confirm span {
    display: block;
    height: 36px;
    font-family: SourceHan-N;
    margin-bottom: 16px;
    margin-right: 24px;
    float: right;
    color: #03A9F4; }
  .confirm #confirm-no {
    color: rgba(0, 0, 0, 0.82); }

.checkbox-wrapper {
  width: 36px;
  height: 2px;
  float: right;
  margin-top: 26px;
  margin-right: 24px;
  display: inline-block;
  background-color: #CCCCCC; }

.checkbox {
  display: none; }

.checkbox-label {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  margin-left: -8px;
  background: #ffffff;
  border-radius: 16px;
  border: 2px solid #999999;
  -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out; }

.checkbox:checked + .checkbox-wrapper {
  background-color: #0e9d57; }

.checkbox:checked + .checkbox-wrapper .checkbox-label {
  margin-left: 26px;
  background-color: #0e9d57;
  border: 2px solid #0e9d57; }

#attention {
  text-align: center;
  color: #03A9F4;
  font-family: SourceHan-N;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -30px; }
