!!! 5
%html
  %head(lang="zh-cn")
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="format-detection" content="telphone=no")
    %title 我的共享
    %link(href="./.src/css/index.css" rel="stylesheet")
  %body
    #top
      %img#menu(src="./.src/img/menu.png" )
      %span#title local测试
    #aside
      .welcome
        %span 设置
      .config#config-hide
        %label(for="config-hide-checkbox").label-text 显示隐藏文件
        %input#config-hide-checkbox.checkbox(type="checkbox")
        .checkbox-wrapper
          %label.checkbox-label(for="config-hide-checkbox")
      .config#config-sys
        %label(for="config-sys-checkbox").label-text 显示系统文件
        %input#config-sys-checkbox.checkbox(type="checkbox")
        .checkbox-wrapper
          %label.checkbox-label(for="config-sys-checkbox")
      .config#config-floatButton
        %label(for="config-floatButton-checkbox").label-text 显示浮动按钮
        %input#config-floatButton-checkbox.checkbox(type="checkbox")
        .checkbox-wrapper
          %label.checkbox-label(for="config-floatButton-checkbox")
      .config#config-clean
        %label.label-text 清除本地数据
      .config#config-load
        %label.label-text 手动刷新文件
    #article
      .down
        %img#refresh-img(src="./.src/img/down.png" )
        %span#refresh-text 下拉刷新
    #float-button
      %div +
  %script(src="./.src/js/framework/zepto.min.js")
  %script(src="./.src/js/framework/touch.js")
  %script(src="./.src/js/framework/animateEasy.min.js")
  %script(src="./.src/js/index.js")